@font-face {
    font-family: Avatar;
    src: url("./fonts/Avatar\ Airbender.ttf");
}

body {
    background-color: #fffcef;
    font-family: 'Avatar', sans-serif;
    margin: 0;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.574);
}

.title {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    margin-top: 30px;
}

h1 {
    font-size: 2.5rem;
    margin: 19px 0 0 0;
}

.title img {
    width: 100px;
    height: auto;
    transform: scale(2.6);
}

@font-face {
    font-family: Herculanum;
    src: url(./fonts/HerculanumLTProRoman.TTF);
}

.buttons {
    display: flex;
    gap: 30px;
    margin: 45px 50px 0 0;
}

.buttons button {
    font-family: 'Herculanum', serif;
    border: none;
    font-size: 1.2rem;
    height: 40px;
    width: 60px;
    background-color: transparent;
}

@keyframes rock-shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-5px) rotate(-2deg); }
    20% { transform: translateX(5px) rotate(2deg); }
    30% { transform: translateX(-3px) rotate(-1deg); }
    40% { transform: translateX(3px) rotate(1deg); }
    50% { transform: translateX(0); } /* Shake finishes */
    100% { transform: translateX(0); } /* Pause here */
}

.buttons button:hover {
    animation: rock-shake 2s infinite ease-in-out;
}